{% extends 'base.html' %}

{% block 'head' %} {% endblock %}
{% block 'title' %} Cadastrar Produto {% endblock %}

{% block 'body' %} 
<div class="container">
    {% if messages %}
    <br/>
    {% for message in messages %}
        <div class="alert {{message.tags}}" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>                              
        </div>
    {% endfor %}
  {% endif %}         

    <h1 class="pt-4">CADASTRAR PRODUTO</h1>
    <div class="my-4 px-3"> 
        <form action="{% url 'adicionar_produto'%}" method="POST" enctype = "multipart/form-data" name="adicionar_produto">{% csrf_token %}
            <label>Imagens: </label>
            <input type="file" name="imagens"  accept="image/*" multiple />
            <br/> <br/>
            <label>Nome do produto: </label>
            <input type="text" name="nome_produto" />            
            <br/> <br/>
            <label>Selecione a categoria do produto: </label>
            <select name="categoria" >
                {% for categoria in categorias %}
                <option value="{{categoria.id}}">{{categoria.titulo}}</option>
                {% endfor %}
            </select>     
            <br/> <br/>
            <label>Estoque inicial do produto: </label>
            <input type="number" name="quantidade" min="1"  value="1"/>  
            <br/> <br/>
            <label>Preço de compra: </label>
            <input type="number" name="preco_compra" min="0" value="0" />          
            <br/> <br/>
            <label>Preço de venda: </label>
            <input type="number" name="preco_venda" min="0" value="0"/>                        
            <br/> <br/>
            <input type="submit" />            
        </form>        
    </div>   
</div>
{% endblock %}